@charset "UTF-8";


html {
    height: 100%;
}

body {
    background: linear-gradient(#001970, #303f9f, #666ad1);
    font-family: 'Sriracha', cursive;
    color: white;
}


.page__header {
    border: 2px solid white;
}


.page__footer {
    border: 2px solid white;
}